/** Registration page CSS **/

#addHorseDiv {
	border:2px solid #400000;
	background-color:#f8f8f8;
	float: center;
	margin:0 auto;
	max-width: 70%;
}


.buttons-addhorse{
	
	padding:5px;
	margin:5px;
	width:30%;
	padding:5px;
	margin:5px;
	color: #0B57D0;
	
}
